* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    min-height: 100vh;
    color: #fff;
    font-family: 'poppins', sans-serif;
}
header {
    font-size: 1.5rem;
}
header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.5rem;
    font-size: 1.6rem;
    background: #fff;
    border: none;
    outline: none;
}
form button {
    color: #d88771;
    background: #fff;
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
form button:hover {
    background: #d88771;
    color: #fff;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 28%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.todo li {
    flex: 1;
}
.todo-item {
    padding: 0 0.5rem;
}
.trash-btn,
.complete-btn {
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgba(73, 204, 73);
}
.fa-trash,
.fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fall {
    transform: translateY(8rem) rotatez(20deg);
    -webkit-transform: translateY(8rem) rotatez(20deg);
    -moz-transform: translateY(8rem) rotatez(20deg);
    -ms-transform: translateY(8rem) rotatez(20deg);
    -o-transform: translateY(8rem) rotatez(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content: '\25BC';
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.select:hover::after {
    background: #fff;
    color: #ff6f47;
}